body
{
	background-color: #f1f1f1;
	font-family: Verdana, Arial, Helvetica;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
footer
{
	background-color: #222222;
	color: #FAFAFA;
	padding: 0.4em;
	text-align: right;
}
footer p
{
	text-align: right;
	margin-right: 3em;
}
header
{
	background-color: #f1f1f1;
	color: #222222;
	margin: 1em auto;
	padding: 0.5em;
	position: relative;
}
header h1
{
	margin: 0;
}
header h2
{
	font-weight: normal;
	margin: 0em;
}
input[type="submit"], input[type="reset"]
{
	background-color: #0080FF;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: Arial, Sans-serif;
    font-size: 1.2em;
    height:35px;
    margin: 0 auto;
    text-align: center;
    width:125px;
}
input[type="text"]
{
	display: block;
	height: 30px;
	margin: 0 auto;
	width: 80%;
}
label
{
	color: #444;
    display: block;
    font-family: Arial, Sans-Serif;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
nav
{
	font-size: 1.5em;
	margin: 0 auto;
	padding: 0.5em;
	position: relative;
	width: 70%;
}
nav ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li
{
	display: inline-block;
	margin: 1em 0 1em 0;
	text-decoration: none;
}
nav li a
{
	color: #1C1C1C;
	text-decoration: none;
}
nav li a:hover
{
	color: #FF4000;
	font-size: 1em;
}
#box-add
{
	background-color: #ccc;
	border-radius: 0.2em;
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	margin-top: 100px;
	width:370px;
}
#principal
{
	color: #6E6E6E;
	background-color: #cccccc;
	border-style: dotted;
	height: 100%;
	margin: 0 auto 2em;
	margin-bottom: 50px;
	padding: 0.2em;
	position: relative;
	text-align: left;
	width: 75%;
}
#text-search
{
	display: inline-block;
	height: 29px;
}
#text-termino
{
	color: #1C1C1C;
	font-size: 1.2em;
}
.btn-main
{
	background-color: #FA8258;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: Arial, Sans-serif;
    font-size: 1.2em;
    height:35px;
    margin: 0 auto;
    text-align: center;
    width:125px;	
}
.col-foo,
{
	position: relative;
	width: 50%
}
.buttons
{
	display: block;
	margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
}
.separador
{
	background-color: #1C1C1C;
    display: block;
    height: 1px;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
}