body
{
	background: #f1f1f1;
	font-family: Verdana, Arial, Helvetica;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
footer
{
	color: #cccccc;
	background-color: #333333;
	bottom: 0;
	height: 3em;
	margin: 0 auto;
	margin-top: 110px;
	padding: 0.2em;
	position: relative;
	width: 75%;
}
header
{
	background-size: 100%;
	background-color: #333333;
	color: #cccccc;
	margin: 1em auto;
	padding: 0.5em;
	position: relative;
	width: 75%;
}
header h1
{
	margin: 0;
	text-shadow: #81BEF7 2px 2px 50px;
}
header h2
{
	margin: 0em;
	font-weight: normal;
	text-shadow: #81BEF7 2px 2px 50px;
}

nav
{
	font-size: 1.7em;
	margin: ;
	position: relative;
}
nav ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li
{
	display: inline-block;
	margin: 1em 0 1em 0;
	text-decoration: none;
}
nav li a
{
	text-decoration: none;
}
nav li a:hover
{
	color: #B40404;
}
#principal
{
	color: #6E6E6E;
	background-color: #cccccc;
	border-style: dotted;
	height: 100%;
	margin: 0 auto 2em;
	margin-bottom: 50px;
	padding: 0.2em;
	position: relative;
	width: 75%;
}