body
{
	background: #f1f1f1;
	font-family: Verdana, Arial, Helvetica;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
footer
{
	background-color: #0080FF;
	bottom: 0;
	color: #E6E6E6;
	height: 3em;
	margin: 0 auto;
	margin-top: 110px;
	padding: 0.2em;
	position: relative;
	width: 75%;
}
header
{
	background-color: #0080FF;
	background-size: 100%;
	color: #E6E6E6;
	margin: 1em auto;
	padding: 0.5em;
	position: relative;
	width: 75%;
}
header h1
{
	margin: 0;
	text-shadow: #81BEF7 2px 2px 50px;
}
header h2
{
	font-weight: normal;
	margin: 0em;
	text-shadow: #81BEF7 2px 2px 50px;
}
input[type="submit"], input[type="reset"]
{
	background-color: #0080FF;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: Arial, Sans-serif;
    font-size: 1.2em;
    height:35px;
    margin: 0 auto;
    text-align: center;
    width:125px;
}
input[type="text"]
{
	display: block;
	height: 30px;
	margin: 0 auto;
	width: 80%;
}
label
{
	color: #444;
    display: block;
    font-family: Arial, Sans-Serif;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
nav
{
	font-size: 1.7em;
	margin:0 auto;
	position: relative;
	width: 75%;
}
nav ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li
{
	display: inline-block;
	margin: 1em 0 1em 0;
	text-decoration: none;
}
nav li a
{
	text-decoration: none;
}
nav li a:hover
{
	color: #B40404;
}
#box-add
{
	background-color: #ccc;
	border-radius: 0.2em;
	display: block;
	margin: 0 auto;
	padding: 25px 0;
	margin-top: 100px;
	width:370px;
}
#principal
{
	color: #6E6E6E;
	background-color: #cccccc;
	border-style: dotted;
	height: 100%;
	margin: 0 auto 2em;
	margin-bottom: 50px;
	padding: 0.2em;
	position: relative;
	width: 75%;
}
.buttons
{
	display: block;
	margin: 0 auto;	
	margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
}
.separador
{
	background-color: #1C1C1C;
    display: block;
    height: 1px;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
}